#div{
	background-color: green;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}
body{
	background-image: url(image.jpg);
	background-size: cover; 
	}
input{
	margin:20px;
	}
form{text-align: center;}
button{background-color: green;padding:10px;border:none;color: white;}
div{text-align: center;margin:10px;color: white;}
.alldata{color: white;}